/* custom CSS for MicroPython docs
 */

.admonition-difference-to-cpython {
    border: 1px solid black;
}

.admonition-difference-to-cpython .admonition-title {
    margin: 4px;
}

@media screen and (min-width: 1300px) {
    .wy-nav-content {
        padding: 5em 12em;
        max-width: 1600px;
    }
}

.admonition {
    margin: 3em 10% !important;
}

img {
    margin-top: 1em !important;
    margin-bottom: 3em !important;
}