/* custom CSS for MicroPython docs
 */

 img {
     margin-top: 1em !important;
     margin-bottom: 1em !important;
 }

 @media screen and (min-width: 1300px) {
     .wy-nav-content {
         padding: 5em 12em;
         max-width: 1600px;
     }
 }
.hidden {
    display: none;
}
.admonition-difference-to-cpython {
    border: 1px solid black;
}

.admonition-difference-to-cpython .admonition-title {
    margin: 4px;
}

.admonition {
    margin: 3em 10% !important;
}

.rst-current-version {
    color: #fff !important;
    background-color: rgb(50, 60, 79) !important;
}

.rst-other-versions {
    color: #fff !important;
    background-color: rgb(50, 60, 79) !important;
}

.rst-other-versions a:hover {
    color: rgb(195, 199, 205) !important;
}

.rst-other-versions hr {
    border: 0 !important;
    border-bottom: 1px dashed #ccc !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
}

.rst-versions {
    border-top: solid 1px #fff;
    background-color: rgb(50, 60, 79) !important;
}

.wy-side-scroll {
    background-color: rgb(50, 60, 79) !important;
}

.wy-nav-content a:visited {
    color: rgb(82, 164, 216);
}

.wy-side-nav-search {
    background-color: rgb(50, 60, 79) !important;
}

.wy-menu-vertical a.current.reference.internal {
    background-color: rgb(50, 60, 79) !important;
    border: none !important;
}

.toctree-expand {
    color: #fff !important;
}

.wy-menu-vertical li.on a span.toctree-expand,
.wy-menu-vertical li.current>a span.toctree-expand {
    color: #fff !important;
}

.wy-menu-vertical li.toctree-l1.current>a {
    border: none !important;
}

.wy-menu-vertical li.toctree-l2.current>a {
    border: none !important;
}

.wy-menu-vertical li.toctree-l2.current>a {
    background: rgb(50, 60, 79) !important;
    border: none !important;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: rgb(50, 60, 79) !important;
}

.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand {
    color: #fff !important;
}

.wy-menu-vertical li.toctree-l2 span.toctree-expand {
    color: #fff !important;
}

.wy-menu-vertical li.toctree-l3.current>a {
    background: rgb(50, 60, 79) !important;
    border: none !important;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
    background: rgb(50, 60, 79) !important;
    border: none !important;
}

.wy-menu-vertical li.toctree-l3 a:hover span.toctree-expand {
    color: #fff !important;
}

.wy-menu-vertical li.toctree-l3 span.toctree-expand {
    color: #fff !important;
}

.wy-menu-vertical li ul li a {
    color: #fff !important;
}

.wy-menu-vertical a {
    background-color: rgb(50, 60, 79) !important;
    color: #fff !important
}

.wy-menu-vertical a:active {
    background-color: rgb(50, 60, 79) !important;
    color: #fff !important
}

.wy-menu-vertical a:active span.toctree-expand {
    color: #fff !important
}

.wy-menu-vertical a:hover {
    color: rgb(195, 199, 205) !important;
}

.wy-menu-vertical a:active {
    color: rgb(249, 189, 44) !important;
}

.wy-menu-vertical li.current>a {
    color: rgb(249, 189, 44) !important;
}

.wy-menu-vertical li.on a:hover span.toctree-expand,
.wy-menu-vertical li.current>a:hover span.toctree-expand {
    color: rgb(195, 199, 205) !important;
}
